/* style.css */

:root {
    --primary-color: #1a1a1a;  /* Dunkleres Grau */
    --secondary-color: #f0f0f0; /* Hellgrau */
    --text-color: #ddd;      /* Hellere Schrift */
    --accent-color: #00a5ff;  /* Blau */
    --track-color: #333;      /* Dunkelgrau für Spuren */
    --track-highlight-color: #555; /* Etwas heller */
    --cursor-color: #ff4444;  /* Rot */
    --selection-color: rgba(0, 165, 255, 0.3);
    --button-bg-color: #444;  /* Dunkelgrau für Buttons */
    --button-hover-color: #666; /* Heller beim Hover */
    --error-color: #ff5555;  /* Rot für Fehler */
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Dark Mode (optional, könnte über eine Klasse .dark-mode am body aktiviert werden) */
body.dark-mode {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid var(--accent-color); /* Akzentlinie */
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

h2{
    color: var(--primary-color);
}

/* Upload-Bereich */
.upload-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#file-upload {
    margin-bottom: 1rem;
}

/* Fortschrittsanzeige */
#upload-progress, #export-
