/* style.css */

:root {
  --primary-color: #222;
  --secondary-color: #f8f8f8;
  --text-color: #333;
  --accent-color: #00A5FF;
  --track-color: #ddd;
  /* Farbe für die Zeitleistenspuren */
  --track-highlight-color: #aaf;
  /* Farbe für ausgewählte Spuren */
  --cursor-color: #ff0000;
  /* Farbe des Abspielcursors */
  --selection-color: rgba(0, 165, 255, 0.3);
  /* Hintergrundfarbe für die Auswahl */
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

h1,
h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

/* Upload-Bereich */
.upload-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#file-upload {
  margin-bottom: 1rem;
}

/* Toolbar */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Gleichmäßig verteilen */
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  /* Zeilenumbruch bei kleinen Bildschirmen */
}

#concert-pitch {
  width: 3rem;
}

/* Editor-Bereich */
.timeline {
  background-color: var(--track-color);
  width: 100%;
  height: 200px;
  /* Anfangshöhe, anpassbar */
  overflow-x: auto;
  /* Horizontales Scrollen */
  margin-bottom: 10px;
  position: relative;
  /* Für absolute Positionierung der Spuren und des Cursors */
}

.track {
  background-color: var(--track-highlight-color);
  height: 50px;
  /* Höhe einer Spur */
  margin-bottom: 5px;
  position: absolute;
  /* Absolute Positionierung innerhalb der Zeitleiste */
  /* Weitere Stile für die Spurendarstellung (z.B. abgerundete Ecken) */
  cursor: pointer;
  /* Zeiger ändert sich beim Überfahren */
}

.track.selected {
  background-color: var(--selection-color);
  /* Hervorhebung ausgewählter Spuren */
  border: 2px solid var(--accent-color);
}


#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--cursor-color);
  z-index: 10;
  /* Cursor über den Spuren anzeigen */
  pointer-events: none;
  /* Klicks ignorieren */
}


.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

#preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

#video-preview,
#audio-preview {
  max-width: 90%;
  margin: 1rem;
}

#visuals-container {
  width: 100%;
  height: 200px;
  /* oder eine andere passende Größe */
  margin-bottom: 20px;
}

#visuals-canvas {
  width: 100%;
  height: 100%;
}

#track-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.track-settings {
  margin-bottom: 10px;
}

#export-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
